{% extends 'layout.html' %}

{% block body %}
<div class = "container-fluid">
<h1> Welcome to Minecraft System Status </h1>

<p class="h6"> Click on a menu option above ^ </p>

{% if value == 'running' %}
<p class="h6">Server is running!&nbsp; <img src="/static/green-button-small.png"/> <br></p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">Number Online</th>
			<th scope="col">Max Players</th>
		</tr>
	</thead>
	<tbody>
		<tr class='w-50'>
			<td>{{serverstatusdict['playersonline']}}</td>
			<td>{{serverstatusdict['maxplayers']}}</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered">
{% if serverstatusdict['players'] %}
	<thead>
		<tr><th>Who's Online</th></tr>
	<tbody>
{% endif %}
{% for playername in serverstatusdict['players'] %}
		<tr><td>{{playername}}</td></tr>
{% endfor %}
	</tbody>
</table>

{% else %}
<p class="h6">Server is not running&nbsp; <img src="/static/red-button-small.png"/></p> <br>
Click here to start it! <a href='/startserver'>Start Server </a>
{% endif %}
<br>
<br>
<br>
<ul>
<li><p class="h5">Automatic server hours are from 5pm to midnight central. Usually. (Earlier if someone manually starts it!)</p></li>
<li><p class="h5">Website new and improved with an all-new Minecraft dirt block background!</p></li>
<li><p class="h5">Check out the newly rendered map (Monday March 4) now with the nether - <a href="http://mcoverview.nine-walkers.com/#/170/64/-57/-9/town/Standard%20Render">click here!</a> (use dropdown in upper right to switch from Overworld to Nether)</p></li>
</ul>
</div>

{% endblock %}
