<ul>
<li><p>Server version: <span class="newscallout">1.14.2</span> as of June 1.  Release notes: <a href="https://www.minecraft.net/en-us/article/minecraft-java-edition-1-14-2" target = "_blank">https://www.minecraft.net/en-us/article/minecraft-java-edition-1-14-2</a>.</p></li>
<li><p>Overview Map updated on 13 June</p></li>
<li><p>Automatic server hours are from 5pm to midnight central, or any time if someone manually starts it!</p></li>
<li><p>Water World (Kamino Real) server page is at <a href = "/waterworld">this link</a>. The world is fine but the website doesn't fully support it yet!</p></li>
<li><p>To access Kamino Real, point minecraft at waterworld.nine-walkers.com </p></li>
</ul>

