<ul>
<li><p>Server version: <span class="newscallout">1.16.3</span> as of Sept 26. </p></li>
<li><p>Overview Map updated as of 21 August</p></li>
<li><p>Player locations appear on the Town map! Updated (no earlier than) the map as it was at server startup.</p></li>
<li><p>Automatic server hours are from 5pm to midnight central, or any time if someone manually starts it!</p></li>
<li><p>Water World (Kamino) is now no longer available. See the <a href = "/waterworld">server page</a> for more info.</p></li>
</ul>

