<ul>
<li><p style="h2;color:black;">This <strike>is</strike> WAS Water World!</p></li>
<li><p style="font-size:large;background-color:white;color:red;">Water World / Kamino is no longer available due to lack of interest. However, the world is backed up and we can reconstitute if anyone wants. Just let me know.</p></li>
<li><p style="color:black;">Server version: <span style="color:yellow;">1.14.4</span>. </p></li>
<li><p style="h2;color:black;">Use the following within Minecraft: waterworld.nine-walkers.com</p></li>

</ul>

